body {
  background-color: #F5F5F5;
  font-size: 13px;
  color: #424242;
}
input, input:hover, input:focus, input:active {
  border: 0;
  outline: 0;
  box-shadow: 0 0 7px hsla(120, 5%, 75%, 0.5) inset;
}
a {
  text-decoration: none;
  color: inherit;
}
h1 {
  font-size: 14px;
  line-height: 1;
  padding-left: 10px;
}

.wrapper {
  width: 350px;
  height: 500px;
  margin: calc((100vh - 500px) / 2) auto;
}
#msg-box-mask {
    position: relative;
    width: 100%;
    height: 450px;
    overflow: hidden;
}
#msg-box {
    position: absolute;
    width: 100%;
    bottom: 0;
}
.msg {
    position: relative;
    width: 100%;
    padding: 10px 0;
}
.system-msg {
    padding: 10px 0;
    text-align: center;
    font-size: 0.6em;
}
.system-msg.joined {
    color: hsla(120,50%,50%,0.6);
}
.system-msg.leaved {
    color: hsla(20,50%,50%,0.6);
}

.msg:nth-of-type(even) {
  background-color: #fafafa;
}
.msg .name {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: none no-repeat 0 0;
    margin: 0 10px;
    vertical-align: top;
}
.msg .time {
    position: absolute;
    top: 0; right: 0;
    font-size: 0.6em;
    color: rgba(0,0,0,0.3);
    padding: 2px;
}
.msg p {
    display: inline-block;
    word-wrap: break-word;
    width: 290px;
    padding-right: 10px;
    margin: 0;
    line-height: 1.3;
}
#msg-inp {
  width: 100%;
  height: 30px;
  padding: 0 10px;
  color: #757575;
}
foot {
  display: block;
  padding: 10px 0;
  color: #757575;
  font-size: 12px;
  width: 100%;
  text-align: right;
}

#users {
    padding: 2px;
}
span.icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin: 0 2px 2px 0;
    background: none no-repeat 0 0;
}
